<h1>投稿詳細</h1>
<p>【メールアドレス】<%= @food.user.email %></p>
<p>【料理名】<%= @food.name %></p>
<p>【コメント】</p>
<p><%= simple_format(@food.comment) %></p>
<p>【作成日時】<%= l @food.created_at %> </p>
<% if current_user.id == @food.user_id %>
  <p>
    <%= link_to "編集", edit_food_path(@food) %>
    <%= link_to "削除", food_path(@food) %>
  </p>
  <p>
    <%= link_to "投稿一覧", foods_path %>
  </p>
<% else %>
  <p>
    <%= link_to "投稿一覧", foods_path %>
  </p>
<% end %>
